.header {
    display: flex;
    flex: auto;
    background-color: darkslategrey;
    padding: 20px 10px;
    justify-content:space-between;
    padding-left: 100px;
    }
    
    .right-header {
    color:cornflowerblue;
    font-size: 18px;
    display: flex;
    gap: 18px;
    padding-right: 200px;
    }
    
    .left-header {
    color:aqua;
    font-size: 24px;
    }
    a {
     display:flex;
    }
    .header-details {
background-color: darkslategrey;
color:#E5E7EB;
flex: auto;
height: 300px;

    }
    .box {
        display: flex;
        flex-direction: row;
    
        margin-left: 100px;
        gap: 150px;
    }
    #header {
        width: 400px;
        height: 200px;
    }
    #box-header {
        
        width: 200px;
        height: 200px;
    }
    button {
        background-color:deepskyblue;
        color: #E5E7EB;
    }
    #images {
      margin-top: 50px;  
      margin-bottom: 40px;
      display: flex;
      justify-content: center;
      padding: 15px; 
    }
    figure {
        text-align: center;
        width: 150px;
        font-weight: bold;
        color:darkslateblue;
    }
    .text {
        color:darkslateblue;
        font-weight:bold;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: block;
        background: grey;
        padding: 0;
        width:auto;
        height: 170px;

    }

    .quote {
        padding-left: 250px;
        padding-right: 250px;
        padding-top: ;
        padding-bottom: ;
    }
     p {
        
        padding-right: 40px;
        align-self: flex-end;
     }































   



























    













